.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.primary {
}
