.menu_ct {
  width: 100%;
  height: var(--grid-height);
  background-color: var(--color-background-dark);
  color: var(--color-background-pink);
  /* position: absolute; */
  position: fixed;
  /* position: sticky;
  position: -webkit-sticky; */
  /* width: 100%; */
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
}
.btn_men.btn_men {
  color: var(--color-background-pink);
  position: relative;
  /* right: 20px; */
  z-index: 33;
  top: -0.5rem;
  /* color: #222; */
  height: 3rem;
  width: 3rem;
  /* height: 4rem; */
  /* width: 4rem; */
  /* font-size: 1rem; */
  border: 1px solid var(--color-background-pink);
  border-radius: 50%;
}

.menu_ct.close_menu_ct {
  /* opacity: 0;
  pointer-events: none; */
  transition: opacity 0.25s linear;
}
.menu_ct.open_menu_ct {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s linear;
}

.btn_men > svg {
  transform: scale(1.5);
}
/* .btn_men > svg {
  transform: scale(1.8);
} */
.info_back {
  width: 6rem;
}
.info_backBtn {
  color: var(--color-background-pink);
  /* position: relative; */
  font-size: 2rem;
  transform: translateY(-20%);
}
.info_initiatives {
  display: flex;
  padding: 2rem 0;
}
.info {
  display: flex;
  width: calc(100%-6rem);
  flex-direction: column;
  line-height: 1.14;
  font-size: 1.1rem;
  font-family: var(--font-medium);
  text-transform: uppercase;
  /* padding: 2rem 0; */
  /* gap: 8rem; */
}
.info > span {
  display: inline-block;
  /* flex: 0 0 5rem; */
}

.info > p:nth-of-type(1) {
  margin-top: 1rem;
}
/*
.info > p:nth-of-type(2) {
  flex: 0 0 43rem;
} */

.menu_head {
  padding: calc(1.5rem + 2.5vw) 5.4vw 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid currentColor;
}
.menu_logo > svg {
  fill: currentColor;
  height: 1.8rem;
}

.menu_nav {
  padding: 0 5.4vw;
  margin-top: 6rem;
}
.menu_navList {
  list-style: none;
}

.menu_navList > li {
  margin: 1.5rem 0 0;
  font-family: var(--font-medium);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.menu_navList a {
  text-decoration: none;
  color: currentColor;
  line-height: 1;
  position: relative;
  left: -1rem;
  padding: 0.5rem 1rem;
}

.menuInitiatives_btn.menuInitiatives_btn {
  color: currentColor;
  text-transform: uppercase;
}

.menuInitiatives_btn.menuInitiatives_btn > span > svg {
  font-size: 2.4rem;
}

.initiatives_Ct {
  padding: 0 0;
}
.initiatives {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 5.4vw;
  top: 0;
  left: 0;
}

.initiatives_list {
  list-style: none;
  /* overflow-y: unset; */
  height: 78vh;
  /* overflow-x: scroll; */
  gap: 2rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.initiatives_list > li {
  width: 100%;

  flex: 0 1 100%;
}

.menu_copyright {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  line-height: 1.14;
  position: absolute;
  width: 100%;
  z-index: 200;
  left: 0;
  font-family: var(--font-medium);
  color: #5e5e5e;
  bottom: 0;
  padding: calc(1.5rem + 2.5vw) 5.4vw;
}

/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */

@media screen and (min-width: 720px) {
  .menu_navList > li {
    font-size: 2.4rem;
  }
  .initiatives_list > li {
    width: 48%;

    flex: 0 1 48%;
  }
}

/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */

@media screen and (min-width: 1280px) {
  /* .initiatives_Ct {
    padding: 0 0;
  } */
  .menu_head {
    padding: calc(1.5rem + 2.5vw) 5.4vw;
    border-bottom: none;
  }
  .btn_men.btn_men {
    top: -0.5rem;
    right: -1rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
  }
  .initiatives_list {
    flex-wrap: nowrap;
    gap: 0;
    height: 75vh;
  }
  .initiatives_list > li {
    width: 32%;
    /* height: 32vw; */

    flex: 1 0 32%;
  }

  .initiatives {
    overflow: hidden;
  }
  .menu_copyright {
    padding: 5rem 8rem;
    font-size: 1.4rem;
  }
  .initiatives {
    position: absolute;
  }
  .info_initiatives {
    padding: 0;
    width: 100%;
  }
  .initiatives_Ct {
    padding: 0 5.4vw;
  }
  .initiatives {
    padding: 0;
  }
  .info {
    padding: 5rem 8rem;

    font-size: 1.4rem;
    flex-direction: row;
    width: 100%;
  }
  .info > span {
    flex: 0 0 5rem;
  }

  .info > p:nth-of-type(1) {
    margin-top: 0;
    flex: 0 0 22rem;
  }
  .info > p:nth-of-type(2) {
    flex: 0 0 43rem;
  }
}
