.container {
  /* overflow: hidden; */
}
.nav_hero_s {
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.vid_box {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
}
.video_reel {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}
.pause_true {
  opacity: 0;
  pointer-events: none;
}

.vid_seekerbar {
  position: absolute;
  /* width: 100%; */
  left: 0;
  bottom: 2rem;
  color: var(--color-white);
  mix-blend-mode: difference;
  transition: transform 1s linear;
}
.vid_seek {
  /* position: absolute; */
  width: 150px;
  text-align: center;
  /* left: 0;
  bottom: 0; */
  transform: translateX(-50%);
}

.hero_section {
  /* background-color: green; */
  /* height: 100%; */
  flex: auto;
  position: relative;
  overflow: hidden;
  /* overflow-y: no; */
  /* sc */
  z-index: 50;
  cursor: none;
}

.videoplayer_cont {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /* max-height: var(--grid-height); */
  height: var(--grid-height);
  width: 100%;
  background-color: var(--color-black);
}

.cursor_outerLayer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 45;
  overflow: hidden;
  pointer-events: none;
}

.custom_cursor.none {
  display: none;
}
.hero_section.pointerAll {
  cursor: default;
}

.cursor_wr {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  will-change: transform;
  /* transition: all 45ms cubic-bezier(0.72, 0, 0.28, 1); */
}

.custom_cursor {
  position: absolute;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  /* z-index: 5; */
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
}
.custom_cursor,
.cursor_c,
.cursor_c + p {
}
.cursor_c {
  width: 100%;
  height: 12rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  letter-spacing: 4px;
  line-height: 1.2;
}

.cursor_c + p {
  line-height: 1;
  position: absolute;
  top: calc(100% + 1rem);
  color: var(--color-white);
}

/* *************** */
/* Common Css      */
/* *-************* */

.award_list,
.work_list,
.client_list,
.news_list {
  display: flex;
  align-items: flex-start;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

/* *************** */
/* Award Section */
/* *-************* */

.award_section {
  width: 100%;
  padding: 15vw 5.4vw;
}
.award_list {
  gap: 1.6rem;
  /* row-gap: 10rem; */
  /* flex-wrap: wrap; */
  width: 100%;
}

.award_list > li {
  flex: 1;
  /* width: ; */
}

/* *************** */
/* About Section */
/* *-************* */

.about_section {
  padding: 0 5.4vw;
}

.about {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 5.5rem;
  flex-direction: column;
  border-top: 1px solid var(--color-font-dark);
  padding: 6rem 0 3rem;
}

.about_desc {
  width: 100%;
  color: var(--color-font-dark);
}
.about_desc_txt {
  font-weight: 400;
  width: 90%;
  /* max-width: 600px; */
  font-size: 2.2rem;
  font-family: var(--font-medium);
  letter-spacing: -1px;
  line-height: 1.1;
}
.about_btnSee_work {
  /* position: relative;
  z-index: 6; */
  margin-top: 4rem;
  /* font-size: 1.1rem;
  font-family: var(--font-bold);
  line-height: 2.8rem; */
  /* letter-spacing: 0.5px; */
  /* 
  overflow: hidden;
  color: var(--color-font-dark); */
  /* color: white; */

  /* text-transform: uppercase;
  border: 1px solid var(--color-font-dark);
  font-weight: 700;
  transition: background-color 0.25s linear;
  border-radius: 600px; */
  /* border-radius: 30px; */
}

/* .about_btnSee_work::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  border: 1px solid var(--color-font-dark); */
/* border-radius: 30px; */
/* content: "";
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: var(--color-font-dark);
  transition: transform 0.25s linear;
} */
/* .about_btnSee_work:hover {
  background-color: var(--color-font-dark); */
/* border: 1px solid var(--color-background); */
/* } */
/* .about_btnSee_work:hover::after {
    transform: translateY(0%);
  } */

.about_btnSee_work > a {
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.1px;
  padding: 2px 30px;
  color: inherit;
  position: relative;
  z-index: 7;
}
/* .about_btnSee_work:hover { */
/* background-color: var(--color-font-dark); */
/* transition: color 0.1s linear; */
/* color: var(--color-background); */
/* } */

.about_BD {
  width: 100%;
}
.about_BD_logo {
  width: 60%;
  margin-left: auto;
}
.about_BD_logo > svg {
  fill: var(--color-font-dark);
}

/* *************** */
/* Work Section */
/* *-************* */

.work_section {
  padding: 0 5.4vw;
  margin: 0 0 12.5vw;
}
.work_list {
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.work_list > li {
  flex: 0 1 100%;
}

/* *************** */
/* client Section */
/* *-************* */

.client_section {
  padding: 0 5.4vw;
  /* border: 5px solid black; */
}

.client_content {
  border-top: 1px solid var(--color-font-dark);
  /* padding-top: 10rem; */
  position: relative;
}
.client_count_bar {
  /* position: absolute;
  top: 0;
  left: 0; */
  margin-top: 2rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-size: 1.1rem;
}
.bar_col1 {
  width: 100%;
}

.bar_col2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.client_heading {
  margin-top: 6rem;
  /* width: 50%; */
  font-family: var(--font-bold);

  overflow: visible;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: -1px;
  width: 20rem;
  /* width: 30%; */
}

.client_list {
  padding-top: 6.25rem;
  justify-content: flex-start;
  gap: 1.6rem;
  width: 100%;
  overflow-x: scroll;
}
.client_list > li {
  width: 82%;
  flex: 1 0 82%;
}

/* *************** */
/* Spotlight Section  */
/* *-************* */

.spotlight_section {
  padding: 0 5.4vw;
  margin: 12.5vw 0;
}

.spotlight {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
  width: 100%;
}
.spotlight_colL {
  width: 100%;
  color: currentColor;
  /* position: relative; */
}

.spotlight_static {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}
.spotlight_static > q {
  display: block;
  font-family: var(--font-bold);
  font-weight: 900;
  font-size: 4.6rem;
  line-height: 0.9;
  quotes: none;
  letter-spacing: -2.25px;
  /* word-spacing: 5px; */
  text-transform: uppercase;
}
.spotlight_static > p {
  margin-top: 2.5rem;
  font-family: var(--font-medium);
  text-transform: uppercase;
  font-size: 1.4rem;
}
.spotlight_static > p > span {
  font-weight: 700;
}

.spotlight_btn {
  margin: 2.5rem 0 0;
}
.spotlight_btn > a {
  text-decoration: none;
  z-index: 10;
  padding: 0.2rem 3rem;
  text-transform: uppercase;
  color: currentColor;
}

.spotlight_btn:hover > a {
  color: var(--color-background);
  /* mix-blend-mode: difference; */
}

.spotlight_colR {
  object-fit: contain;
  width: 100%;
}

.spotlight_colR > video {
  height: 100%;
  width: 100%;
}

/* *************** */
/* news Section  */
/* *-************* */

.news_section {
  padding: 0 5.4vw;
}
.news_head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.news_head > h2 {
  text-transform: uppercase;
  font-family: var(--font-bold);
  font-size: 2.4rem;
  letter-spacing: -1.5px;
  width: 40%;
  max-width: 150px;
  line-height: 1.1;
}

.news_allBtn {
  color: inherit;
}
.news_allBtn > a {
  text-decoration: none;
  color: inherit;
  padding: 0.2rem 3rem;
  text-transform: uppercase;
  z-index: 10;
}

.news_allBtn:hover > a {
  color: currentColor;
}

.news_section .news_list {
  flex-direction: column;
  margin: 5rem 0 0;
}
.news_section .news_list > li {
  width: 100%;
  margin: 2rem 0 0;
}
.news_section .news_list > li:first-child {
  margin: 0;
}

/* *************** */
/* media queries  */
/* *-************* */

@media screen and (min-width: 720px) {
  .about {
    padding-bottom: 6.25vw;
  }
  .about_desc_txt {
    width: 55%;
  }

  .work_list {
    flex-direction: row;
    align-items: stretch;
    gap: 1.5rem;
  }
  .client_heading {
    width: 35rem;
  }
  .client_list > li {
    width: 49%;
    flex: 1 0 49%;
  }

  .spotlight {
    flex-direction: row;
    gap: 3.2rem;
  }

  .spotlight_colL {
    width: 50%;
  }
  .spotlight_colR {
    width: 50%;
  }
  .spotlight_colR .news_head > h2 {
    letter-spacing: -1.5px;
    width: 100%;
    max-width: 450px;
    /* line-height: 1.1; */
  }
  .news_section .news_list > li {
    margin: 5rem 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .client_list > li {
    width: 32%;
    flex: 1 0 32%;
  }
  .spotlight_static > q {
    font-size: 6.25vw;
  }
  .spotlight_btn {
    margin: 8rem 0 0;
  }
  .spotlight_static > p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    padding-top: 8.5rem;
    flex-direction: row;
    gap: 0;
  }
  .about_desc {
    width: 45%;
  }
  .about_desc_txt {
    width: 100%;
  }
  .about_BD {
    width: 55%;
  }
  .about_BD_logo {
    width: 75%;
  }
  .about_desc_txt {
    font-size: 3.8rem;
  }
  .work_list {
    gap: 2rem;
  }

  .client_count_bar {
    flex-direction: row;
    font-size: 1.4rem;
  }
  .bar_col1 {
    width: 35%;
  }
  .bar_col2 {
    width: 65%;
  }

  .client_heading {
    margin-top: 8.5rem;
    font-size: 4.2rem;
    letter-spacing: -1.8px;
  }
  .client_list {
    padding-top: 12.5rem;
    gap: 2rem;
  }

  .news_head > h2 {
    font-size: 4.2rem;
    /* letter-spacing: -2px; */
    width: 30%;
    max-width: 250px;
    /* line-height: 1.1; */
  }

  .news_section .news_list > li {
    margin: 8rem 0 0;
  }
}
