.initiative_item {
  padding: 2rem 0 0;
  border-top: 1px solid currentColor;
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.initiative_item::before {
  content: attr(data-list-count);
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  color: currentColor;
  font-family: var(--font-medium);
}

.last_initiative_item {
  border-right: none;
}

.initiative_item > figure {
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.initiative_item > figure > img {
  width: 100%;
  object-fit: cover;

  height: 100%;
  transform: scale(1.05);
  transition: all 500ms linear;
}

.initiative_about {
  padding: 2rem 0;
  width: 100%;
  height: 25%;
  position: relative;
  /* left: 0;
  top: 75%; */

  /* transition: all 250ms linear; */
}

.initiative_about_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-font);
  transition: all 250ms linear;
}
.initiative_about_head {
  text-transform: uppercase;
  position: relative;
  background-color: var(--color-font);
  /* z-index: 444; */
  width: 100%;
  height: 100%;
  /* padding: inherit; */
}
.initiative_about_head > h6 {
  line-height: 1.1;
  font-family: var(--font-bold);
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
}
.initiative_about_head > p {
  line-height: 1.1;
}

.initiative_about_label {
  font-family: var(--font-medium);
  margin: 1rem 0 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.initiative_about_C {
  margin-top: 2.5rem;
  /* transition: all 250ms linear; */
  position: relative;
  width: 100%;
  /* left: 0; */

  top: 50%;
  /* padding: inherit; */
  line-height: 1.2;

  z-index: 20;

  opacity: 1;
  pointer-events: all;
}
.initiative_about_desc {
}
.initiative_about_link {
}
.initiative_about_link > a {
  display: inline-block;
  padding: 4rem 2rem 2rem 0;
  color: currentColor;
}

/* /////////////////////////////////////////// */
/* /////////////////////////////////////////// */
/* /////////////////////////////////////////// */

@media screen and (min-width: 1280px) {
  .initiative_item::before {
    top: 102%;
    left: 0;
  }

  .last_initiative_item {
    border-right: 1px solid currentColor;
  }
  .initiative_item {
    border-left: 1px solid currentColor;
    border-top: none;
    padding: 0 1rem 15rem;
  }

  .initiative_about_head {
    position: absolute;

    transition: all 250ms linear;

    /* z-index: 444; */
    top: 0;
    left: 0;

    padding: inherit;
  }

  .initiative_item > figure {
    /* width: 100%;
    overflow: hidden; */
  }

  .initiative_item > figure > img {
    transform: scale(1.1);
  }
  .initiative_about {
    position: absolute;
    padding: 2rem 2.5rem;
    left: 0;
    top: 75%;

    transition: all 250ms linear;
  }

  .initiative_about_bg {
  }

  .initiative_about_C {
    margin-top: 2.5rem;
    transition: all 250ms linear;
    position: absolute;

    left: 0;

    top: -25%;

    padding: inherit;
    opacity: 0;
    pointer-events: none;
  }

  .initiative_about_link > a {
  }

  .initiative_item:hover > figure > img {
    transform: scale(1);
  }

  .initiative_item:hover .initiative_about_head {
    top: -100%;
  }
  .initiative_item:hover .initiative_about_C {
    /* transform: translateY(-100%); */
    /* bottom: -2rem; */
    top: -65%;
    opacity: 1;
    pointer-events: all;
  }
  .initiative_item:hover .initiative_about_link > a {
    text-decoration: underline;
  }
}
