.feat_news {
  padding: 2rem 0 0;

  width: 100%;
  border-top: 1px solid currentColor;
}
.feat_news > a {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-decoration: none;
  color: currentColor;
  gap: 2rem;
}
.feat_news_img {
  width: 100%;
}

.feat_news_img > figure {
  /* position: relative;
  padding-top: 75%; */
  width: 100%;
  overflow: hidden;
}
.feat_news_img > figure > img {
  /* object-fit: cover; */
  /* position: absolute;
  left: 0;
  top: 0;
  height: 100%; */
  transform: scale(1.03);
  width: 100%;
  /* aspect-ratio: 4/3; */
}

.feat_newsDesc {
  width: 100%;
  /* flex: auto; */
  position: relative;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feat_news_img > figure > img {
  transition: transform 250ms linear;
}
.feat_newsDesc > h5 {
  font-family: var(--font-medium);
  position: relative;
  top: -0.2em;
  width: 100%;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 1.2;
  font-size: 2.4rem;
}

.feat_newsDesc > p {
  font-size: 1.1rem;
  font-family: var(--font-medium);
  margin: auto 0 0;
  position: relative;
  margin: 5rem 0 0;
  top: 0.2em;
}
.feat_newsDesc > p > span {
  font-weight: 700;
}

.feat_newsArrow {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 3rem;

  overflow: hidden;
  /* transform: scale(1.2); */
}
.feat_newsArrow > svg {
  position: relative;
  bottom: -0.2em;
}

.feat_news:hover figure > img {
  transform: scale(1);
}

.feat_news:hover .feat_newsDesc > h5 {
  text-decoration: underline;
}

.feat_news:hover .feat_newsArrow > svg {
  animation: moveForward 250ms linear forwards,
    atOrigin 250ms linear 250ms forwards;
}

@keyframes moveForward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes atOrigin {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 720px) {
  .feat_news_img {
    width: 32.5%;
  }
  .feat_news > a {
    flex-direction: row;
  }
  .feat_newsDesc {
    width: 67.5%;
    /* flex: auto; */
  }
  .feat_newsArrow {
    top: 0;
    font-size: 4rem;
  }
  .feat_newsArrow > svg {
    top: -0.2em;
  }
  .feat_newsDesc > p {
    margin: 0;
  }
  .feat_newsDesc > h5 {
    width: 70%;
    letter-spacing: -1.25px;
  }
}

@media screen and (min-width: 1280px) {
  .feat_newsDesc > p {
    font-size: 1.4rem;
  }
  .feat_newsDesc > h5 {
    font-size: 4.2rem;
  }
  /* .feat_newsDesc > h5 {
    font-family: var(--font-medium);
    position: relative;
    top: -0.2em;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.4rem;
  } */
}
